/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -200px;
  z-index: 5;
  background-color: black;
  padding: 5px;
  border: 1px solid #999;
}

.feast-list {
  ::-webkit-scrollbar;
  position: fixed;
  width: 30%;
  height: 100%;
  top: 2;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 1;
  padding: 20px;
  border-radius: 5px;
}
li,a,p,h1,h2,h3 {
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.twitter {

  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  margin: -20px;
  padding: 20px;
}

.instagram {

background-color: rgba(128, 0, 0, 0.2);
  margin: 20px -20px;
  padding: 20px;

}

#overlay{
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
  z-index: 1000;
  background-color:black;
}

#overlay h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 100px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.button {
  font-family: 'PT Sans', sans-serif;
  display:inline-block; /* diplay inline but have dimensions */
  width: 80px;
  background-color: black;
  border: 3px solid white;
  color: white; /* text colour */
  text-decoration: none; /* no underlining */
  padding: 6px 10px;
  text-align: center;
  border-radius: 4px; /* rounded corners */
  margin: 5px 5px;
  text-shadow: 0 0 0px rgba(0,0,0, 0.4); /* for readability */
}