<html>
  <body>
    <div id="panel">
      <a href='#' class='button' onclick="showDay()">DAY</a>
      <a href='#' class='button' onclick="showNight()">NIGHT</a>
      <a href='#' class='button' onclick="showZombie()">ZOMBIE</a>
    </div>
    <div id="map-canvas"></div>
  </body>
</html>